#slidingform-slider{
	width:500px;
	top:100px;
	position:absolute;
}
   
#slidingform-header{ 
	width:335px;
	height:700px;
	position:absolute; 
	right:0px; 
	border:1px solid #d8d8d8;
	margin-left:40px;
	padding:20px 40px;
	border-radius:3px;
	box-shadow: 0 0 8px gray;
	background: #FFF;
	z-index: 10000 !important;
}


#slidingform-sidebar{
	position:absolute !important;
	top:180px !important;
	left:113px !important;
	box-shadow: 0 0 8px gray;
	z-index: 10000 !important;
}

#slidingform-sidebar1{
	position:absolute !important;
	top:180px !important;
	left:113px !important;
	box-shadow: 0 0 8px gray;
	z-index: 10000 !important;
}
